* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Arimo", sans-serif;
}

body {
  background: #F8F9FC;
}

li > a {
  color: unset;
  text-decoration: none;
}

header {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: fixed;
  top: 0;
}
header .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  max-width: 1320px;
  padding: 24px 0;
  margin: 0 50px;
}
header .head {
  width: 100%;
  max-width: 198px;
}
header .head .logo {
  width: 100%;
}
header .navi {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 40px;
  list-style: none;
}
header .navi li {
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  color: #091239;
  cursor: pointer;
  -webkit-transition: color 0.2s ease;
  transition: color 0.2s ease;
}
header .navi li:hover {
  color: #61CD81;
}
header .navi .dropdown {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
  position: relative;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
header .navi .dropdown .top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 8px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
header .navi .dropdown .icon {
  width: 10px;
  height: 10px;
  background-image: url("data:image/svg+xml,%3Csvg width='10' height='10' viewBox='0 0 10 10' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M2.27881 9.72712C1.90706 9.36328 1.90706 8.77337 2.27881 8.40953L5.70185 5L2.27881 1.59047C1.90706 1.22663 1.90706 0.636724 2.27881 0.272882C2.65056 -0.0909608 3.25329 -0.0909606 3.62503 0.272882L7.72119 4.34121C7.89971 4.51593 8 4.75291 8 5C8 5.2471 7.89971 5.48407 7.72119 5.6588L3.62503 9.72712C3.25328 10.091 2.65056 10.091 2.27881 9.72712Z' fill='%23091239'/%3E%3C/svg%3E");
  -webkit-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;
}
header .navi .dropdown .icon.open {
  background-image: url("data:image/svg+xml,%3Csvg width='10' height='10' viewBox='0 0 10 10' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M0.272881 2.27881C0.636724 1.90706 1.22663 1.90706 1.59047 2.27881L5 5.70185L8.40953 2.27881C8.77337 1.90706 9.36328 1.90706 9.72712 2.27881C10.091 2.65056 10.091 3.25329 9.72712 3.62503L5.65879 7.72119C5.48407 7.89971 5.24709 8 5 8C4.7529 8 4.51593 7.89971 4.3412 7.72119L0.272881 3.62503C-0.0909615 3.25328 -0.0909615 2.65056 0.272881 2.27881Z' fill='%2361CD81'/%3E%3C/svg%3E%0A");
}
header .navi .dropdown ul {
  position: absolute;
  width: 100%;
  min-width: 536px;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #fff;
  -webkit-box-shadow: 0px 4px 40px -16px rgba(9, 18, 57, 0.16), 0px 16px 32px -8px rgba(9, 18, 57, 0.16);
          box-shadow: 0px 4px 40px -16px rgba(9, 18, 57, 0.16), 0px 16px 32px -8px rgba(9, 18, 57, 0.16);
  border-radius: 16px;
  padding: 16px;
  top: 80px;
  right: -200%;
  gap: 8px;
  -webkit-transition: opacity 0.3s ease-in-out;
  transition: opacity 0.3s ease-in-out;
  opacity: 0;
  pointer-events: none;
}
header .navi .dropdown ul a {
  border-radius: 8px;
  padding: 16px;
  font-weight: 600;
  font-size: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  color: #091239;
  text-decoration: none;
}
header .navi .dropdown ul a .left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 16px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
header .navi .dropdown ul a .icon-left,
header .navi .dropdown ul a .icon-right {
  width: 56px;
  height: 56px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}
header .navi .dropdown ul a .icon-right {
  opacity: 0;
}
header .navi .dropdown ul a .icon-right.hover {
  opacity: 1;
}
header .navi .dropdown ul a .icon-right {
  background-image: url("data:image/svg+xml,%3Csvg width='56' height='56' viewBox='0 0 56 56' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect width='56' height='56' rx='28' fill='white'/%3E%3Cpath d='M19.6667 36.3333L36.3334 19.6667' stroke='%23091239' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M21.3333 19.6667L36.3333 19.6667L36.3333 34.6667' stroke='%23091239' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
}
header .navi .dropdown ul a:nth-child(1) .icon-left {
  background-image: url("data:image/svg+xml,%3Csvg width='56' height='56' viewBox='0 0 56 56' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect width='56' height='56' rx='28' fill='%2361CD81'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M26.4665 11.9161C22.9135 15.1472 18.059 17.8629 13.9406 18.9234L12.679 19.2483L12.7047 21.7483C12.7447 25.6315 13.6938 29.6884 15.4114 33.3193C17.5365 37.8116 21.5561 41.8578 26.1388 44.1174L27.5234 44.8L28.8423 44.1441C31.8099 42.668 35.3372 39.7956 37.0481 37.4617C37.7373 36.5214 37.7027 36.3261 36.8153 36.1483C36.3142 36.048 36.1881 36.1393 35.217 37.3068C33.5306 39.3341 31.1153 41.2716 28.7623 42.4846L27.4255 43.1737L25.9098 42.3014C22.6152 40.4055 20.1399 38.1089 18.1797 35.1293C15.8097 31.5267 14.2972 26.6155 14.1671 22.0995L14.1208 20.4921L16.2835 19.7487C19.6297 18.5985 23.0495 16.6733 25.9959 14.2813C26.5795 13.8073 27.1602 13.3435 27.286 13.2505C27.4466 13.1318 27.8818 13.3765 28.7478 14.0726C30.4177 15.4147 32.0596 16.5539 33.6494 17.4736C34.9748 18.2403 34.9748 18.2403 35.6856 17.9192C36.0767 17.7427 36.4334 17.5386 36.4784 17.4657C36.5233 17.3927 35.9314 16.9885 35.1629 16.5672C32.7149 15.2255 29.2606 12.7365 28.1958 11.5471C27.7115 11.0061 27.3922 11.0743 26.4665 11.9161ZM27.0346 15.2632C26.8028 15.6971 27.0906 16.2171 27.5625 16.2171C27.9954 16.2171 28.2142 15.735 27.9628 15.3353C27.6984 14.9147 27.2399 14.8792 27.0346 15.2632ZM38.0913 18.5826C36.4813 18.8144 34.6579 19.7904 33.4331 21.0762C30.2495 24.4185 30.2935 29.4942 33.5336 32.6984C35.3617 34.5061 37.4594 35.2957 39.9639 35.1188C42.4489 34.9434 44.5502 33.8085 46.0526 31.8312C47.259 30.243 47.6196 29.1016 47.6324 26.8295C47.6456 24.5197 47.4737 24.1822 46.6743 24.9493C46.1893 25.4144 46.1477 25.5638 46.0735 27.1048C46.014 28.3405 45.8887 28.9792 45.5796 29.6232C44.9737 30.8855 43.7681 32.1322 42.4732 32.8352C41.3832 33.427 41.2559 33.453 39.443 33.453C37.7687 33.453 37.4322 33.3974 36.524 32.9711C33.6681 31.6305 32.0756 28.279 32.8497 25.2384C33.6002 22.2906 36.4307 20.0072 39.334 20.0072C40.5352 20.0072 42.156 20.51 43.2154 21.2112C44.2285 21.8817 44.5058 21.882 44.927 21.2133C45.2035 20.7746 44.9032 20.3835 43.7534 19.6847C42.1097 18.6859 40.0967 18.2941 38.0913 18.5826ZM25.5408 20.3308C23.9622 21.1541 23.2224 22.7175 23.2224 25.2303C23.2224 26.106 22.9955 26.5045 22.4968 26.5045C22.3356 26.5045 22.0274 26.6926 21.8119 26.9221C21.4442 27.3141 21.4201 27.5132 21.4201 30.1509C21.4201 34.1578 20.8594 33.8011 27.2613 33.867C30.7275 33.9028 32.4141 33.8589 32.4141 33.7333C32.4141 33.6304 32.1174 33.1599 31.755 32.6876C30.7511 31.3795 30.0904 29.7595 29.8379 27.9873L29.6138 26.4143L27.0941 26.324L24.5741 26.2338L24.5238 24.8802C24.4634 23.2591 24.9176 22.1585 25.9258 21.4817C26.4633 21.1211 26.7278 21.069 27.7126 21.1298C28.8351 21.1991 28.892 21.2271 29.6693 22.0867C30.4287 22.9266 30.4829 22.9546 30.7212 22.6283C31.1413 22.0528 31.0157 21.5267 30.3095 20.9056C28.9079 19.6735 27.197 19.4672 25.5408 20.3308ZM43.4982 24.5192C41.319 26.703 39.4596 28.4898 39.3662 28.4898C39.2727 28.4898 38.486 27.794 37.6182 26.9436C36.2187 25.5721 35.9983 25.4198 35.669 25.5963C34.9356 25.9894 35.221 26.5243 37.2381 28.538C38.3054 29.6033 39.259 30.4751 39.3572 30.4751C39.6535 30.4751 48.4545 21.5604 48.4545 21.2603C48.4545 20.9018 48.1003 20.5486 47.7409 20.5486C47.5865 20.5486 45.6773 22.3354 43.4982 24.5192ZM15.1301 21.2368C14.9855 21.5073 15.0162 21.6519 15.2656 21.878C15.5356 22.1228 15.6399 22.1318 15.9103 21.934C16.0875 21.804 16.2026 21.5409 16.1662 21.3489C16.0748 20.8699 15.3671 20.7934 15.1301 21.2368ZM28.1194 28.4275C28.475 28.7499 28.5845 30.0841 28.2809 30.3939C28.1884 30.4881 28.0869 30.8895 28.0556 31.2858C27.9545 32.5607 26.827 32.3032 26.827 31.0051C26.827 30.6259 26.7459 30.2657 26.6467 30.2043C26.3256 30.0056 26.4447 28.8726 26.827 28.4898C27.2655 28.0507 27.6814 28.0306 28.1194 28.4275ZM27.0346 40.8915C26.8028 41.3254 27.0906 41.8454 27.5625 41.8454C27.9954 41.8454 28.2142 41.3633 27.9628 40.9635C27.6984 40.543 27.2399 40.5075 27.0346 40.8915Z' fill='white'/%3E%3C/svg%3E%0A");
}
header .navi .dropdown ul a:nth-child(2) .icon-left {
  background-image: url("data:image/svg+xml,%3Csvg width='56' height='56' viewBox='0 0 56 56' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect width='56' height='56' rx='28' fill='%2361CD81'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M33.9564 17.8121C31.8139 19.6245 28.9653 21.1896 26.5903 21.8595L25.3381 22.2128L25.3462 24.0125C25.3745 30.2405 28.7149 35.7831 33.9916 38.3576L35.1317 38.9139L35.979 38.5029C41.4118 35.8679 44.5831 30.7063 44.9598 23.8858C45.0335 22.5534 45.012 22.2392 44.8438 22.1889C44.7302 22.1548 44.0874 21.9793 43.4156 21.7987C41.2154 21.2074 38.0344 19.4179 36.0556 17.6585C35.6469 17.2952 35.2229 16.9988 35.1133 17C35.0037 17.001 34.4831 17.3666 33.9564 17.8121ZM20.1692 19.0939C19.6874 19.5703 19.6662 19.6367 19.6662 20.6694C19.6662 21.8142 19.7999 22.0971 20.3407 22.0971C20.8177 22.0971 20.9706 21.8177 21.0207 20.8537L21.0658 19.9846L24.9698 19.9118L28.8738 19.8389L29.6471 19.4019C30.0724 19.1615 30.3983 18.8992 30.3715 18.8191C30.3405 18.727 28.5484 18.6593 25.4974 18.6349L20.6721 18.5965L20.1692 19.0939ZM36.5173 19.676C37.195 20.1874 38.2384 20.8886 38.8363 21.2343C40.0023 21.9087 42.8472 23.1135 43.279 23.1156C43.6865 23.1177 43.7377 23.4721 43.56 25.0647C43.1581 28.6673 41.907 31.6391 39.7311 34.16C38.6084 35.4606 35.7935 37.3946 35.0232 37.3946C34.4704 37.3946 32.2512 35.8713 31.0031 34.6352C29.0297 32.6806 27.72 30.3129 27.0351 27.461C26.7313 26.1963 26.4392 23.4889 26.5849 23.2899C26.6283 23.2304 27.0618 23.0628 27.5479 22.9171C29.5041 22.3312 32.2859 20.8257 34.0741 19.3852C34.5103 19.0338 34.9613 18.7462 35.0762 18.7462C35.191 18.7462 35.8395 19.1647 36.5173 19.676ZM34.0273 20.4779C32.487 21.6472 30.3093 22.8362 28.6528 23.4123C28.1262 23.5955 27.6204 23.817 27.5289 23.9047C27.2978 24.126 27.527 26.0226 27.9974 27.779C28.9046 31.1671 30.809 33.8441 33.6601 35.7393C35.2836 36.8184 35.135 37.5839 35.135 28.1433C35.135 21.6539 35.0959 19.9122 34.9508 19.9141C34.8496 19.9154 34.4339 20.1692 34.0273 20.4779ZM13.6997 23.4687C13.079 23.7449 12.3218 24.574 12.1503 25.1651C11.9286 25.9296 11.9621 28.9373 12.1932 29.025C12.2965 29.0642 14.6364 29.2794 17.3931 29.5033C20.1496 29.7271 22.4848 29.9592 22.5825 30.0187C22.8201 30.164 22.8145 31.4098 22.5758 31.5003C22.4746 31.5387 20.1377 31.3849 17.3827 31.1586C14.6278 30.9324 12.291 30.7747 12.1897 30.8084C11.9607 30.8846 11.9282 36.3121 12.1518 37.1083C12.3159 37.6927 13.2003 38.6123 13.8198 38.8428C14.3219 39.0297 32.1885 39.0614 32.1885 38.8755C32.1885 38.8087 31.5948 38.3155 30.8693 37.7797C29.435 36.7205 28.3249 35.5612 27.2219 33.9709L26.5145 32.951L25.4844 32.8782C24.9178 32.8381 24.3714 32.7523 24.27 32.6875C24.1413 32.6052 24.0859 32.0932 24.0859 30.9877C24.0859 29.4721 24.1012 29.3947 24.4517 29.1388L24.8176 28.8717L24.5303 27.4877C24.3723 26.7264 24.1911 25.4808 24.1276 24.7195L24.0122 23.3355L19.0769 23.3037C15.1953 23.2788 14.0474 23.3139 13.6997 23.4687Z' fill='white'/%3E%3C/svg%3E%0A");
}
header .navi .dropdown ul a:nth-child(3) .icon-left {
  background-image: url("data:image/svg+xml,%3Csvg width='56' height='56' viewBox='0 0 56 56' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect width='56' height='56' rx='28' fill='%2361CD81'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M27.4693 13.8552C27.4247 13.972 27.4058 20.1832 27.4274 27.6577L27.4666 41.2477L28.7128 41.2917C29.3982 41.3159 30.1828 41.2778 30.4562 41.2068C30.8938 41.0934 30.967 40.9994 31.065 40.4253C31.2068 39.5953 31.3406 39.4426 32.1339 39.2052C32.4899 39.0988 33.1035 38.8486 33.4974 38.6492C34.3905 38.1971 34.4315 38.1982 35.0741 38.6884C35.7091 39.1727 35.8679 39.1225 37.1876 38.0198C38.261 37.1229 39.5381 35.5534 39.5381 35.1313C39.5381 34.9685 39.4015 34.6616 39.2345 34.4492C38.8221 33.9249 38.8451 33.7173 39.4826 32.2192C40.1563 30.6356 40.2269 30.5427 40.7547 30.5427C40.9857 30.5427 41.3361 30.4121 41.5332 30.2524C41.8831 29.969 41.8917 29.9028 41.8917 27.5268C41.8917 25.7349 41.8398 25.0393 41.6949 24.8941C41.5867 24.7855 41.1837 24.6284 40.7994 24.5449C40.1006 24.393 40.1006 24.393 39.5186 22.9505C38.8439 21.2786 38.828 21.1481 39.2345 20.6314C39.4015 20.4191 39.5381 20.1085 39.5381 19.9413C39.5381 19.5831 38.6593 18.4515 37.6195 17.4709C36.0913 16.0299 35.7152 15.8778 35.0243 16.4212C34.5328 16.8078 34.2139 16.8036 33.4222 16.3997C33.0716 16.2208 32.4422 15.9583 32.0237 15.8163C31.3011 15.5711 31.2551 15.5226 31.1108 14.8578C31.0273 14.4728 30.885 14.084 30.7947 13.994C30.7045 13.904 29.9375 13.7881 29.0904 13.7365C27.8469 13.6607 27.5348 13.6836 27.4693 13.8552ZM25.0216 14.797C21.7774 17.6235 18.3493 19.4703 14.4839 20.4736C13.9525 20.6117 13.9525 20.6117 13.9689 22.5782C14.019 28.5616 16.6512 34.6241 20.7036 38.0892C21.9241 39.1328 23.5299 40.2226 24.7669 40.847C26.0268 41.4826 26.1759 41.4695 26.1759 40.724C26.1759 40.13 26.1647 40.1184 24.9991 39.5107C19.2543 36.5158 15.7807 30.7138 15.1644 23.0835C15.0825 22.0706 15.1041 21.7458 15.2597 21.6497C15.3703 21.5813 16.1228 21.3033 16.932 21.0318C19.6363 20.1244 22.7227 18.3677 25.151 16.3537C26.1334 15.5387 26.1759 15.4757 26.1759 14.8325C26.1759 14.4635 26.12 14.1269 26.0517 14.0847C25.9832 14.0424 25.5198 14.363 25.0216 14.797ZM29.1396 15.6206C29.3355 16.4309 29.4024 16.4849 30.5035 16.7178C31.7089 16.9729 32.915 17.4694 33.9732 18.1463C34.9763 18.788 35.1476 18.8096 35.842 18.3803C36.3242 18.0822 36.3815 18.0775 36.7309 18.3065C36.9363 18.4412 37.2145 18.7194 37.3492 18.9248C37.5782 19.2742 37.5734 19.3315 37.2754 19.8137C36.8495 20.5026 36.869 20.6817 37.4737 21.6267C38.1403 22.669 38.6953 24.0049 38.9379 25.1522C39.1707 26.2525 39.2249 26.3199 40.0318 26.5161C40.559 26.6443 40.6906 26.7519 40.803 27.1463C41.0174 27.8993 40.6738 28.4342 39.8478 28.6333C39.1704 28.7965 39.1702 28.7968 38.9868 29.7076C38.7306 30.9794 38.2727 32.1404 37.5634 33.3164C36.8792 34.4509 36.8385 34.7104 37.2605 35.2499C37.6565 35.7563 37.6442 35.8361 37.0789 36.4194C36.5058 37.0105 36.3666 37.0264 35.6037 36.5875C35.0257 36.2548 35.0257 36.2548 34.1806 36.8157C33.1094 37.5268 32.1672 37.9334 30.7367 38.3024C29.439 38.637 29.3484 38.7029 29.1332 39.4699C29.0196 39.8752 28.8915 40.0329 28.6765 40.0329C28.3913 40.0329 28.3776 39.9181 28.3776 37.5334V35.0339L29.5725 34.7615C33.1838 33.9382 35.5902 31.0163 35.5902 27.4544C35.5902 24.0901 32.962 20.9825 29.5789 20.3465C29.0852 20.2536 28.596 20.1546 28.4915 20.1264C28.3495 20.088 28.3017 19.4494 28.3017 17.5901C28.3017 16.2234 28.3497 15.0574 28.4082 14.9988C28.6648 14.7423 28.995 15.0231 29.1396 15.6206ZM25.6464 17.7848C25.5957 17.8666 24.7205 18.4928 23.7015 19.1763C21.9326 20.3626 18.8929 21.9404 17.5967 22.345C16.4761 22.6947 16.4421 22.8277 16.8545 25.2394C17.2413 27.5002 17.7615 29.111 18.7394 31.0742C19.788 33.1796 21.0932 34.8886 22.6981 36.2575C23.9225 37.3019 25.8135 38.4928 26.0324 38.3575C26.1202 38.3033 26.1759 34.2662 26.1759 27.9524C26.1759 19.0712 26.1455 17.636 25.9571 17.636C25.8367 17.636 25.697 17.7029 25.6464 17.7848ZM30.9798 21.8865C32.2112 22.4929 33.6108 23.9748 34.0897 25.18C34.3726 25.892 34.4417 26.3594 34.4461 27.5896C34.4512 29.0534 34.428 29.1634 33.8795 30.2729C32.99 32.0728 31.5162 33.2344 29.4812 33.7396C28.2153 34.0538 28.3017 34.5025 28.3017 27.6118C28.3017 24.2407 28.353 21.4303 28.4156 21.3662C28.6344 21.1424 30.0528 21.4301 30.9798 21.8865Z' fill='white'/%3E%3C/svg%3E%0A");
}
header .navi .dropdown ul a:nth-child(4) .icon-left {
  background-image: url("data:image/svg+xml,%3Csvg width='56' height='56' viewBox='0 0 56 56' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect width='56' height='56' rx='28' fill='%2361CD81'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M18.8629 13.3645C18.648 13.6018 18.6278 14.6597 18.6278 25.6584C18.6278 33.6823 18.6768 37.7842 18.7748 37.9674C18.9128 38.2252 19.1 38.2421 21.8247 38.2421C24.7274 38.2421 24.7274 38.2421 24.956 37.7997C25.084 37.5523 25.131 37.3035 25.0625 37.235C24.9952 37.1677 23.7916 37.0953 22.3876 37.0738L19.835 37.0349V25.6734V14.3119H28.072H36.3091L36.346 21.1944C36.3828 28.0771 36.3828 28.0771 36.8354 28.5439C37.0843 28.8008 37.3393 29.0109 37.4021 29.0109C37.4649 29.0109 37.5163 25.5378 37.5163 21.2929C37.5163 13.9961 37.5021 13.5621 37.2565 13.3398C37.0206 13.1264 36.1756 13.1048 28.0473 13.1048C19.5576 13.1048 19.0858 13.1181 18.8629 13.3645ZM38.7084 14.442C38.6659 14.5525 38.652 14.8242 38.6773 15.0456C38.7212 15.4283 38.7652 15.4515 39.5755 15.5191L40.4277 15.5901L40.4987 27.5177C40.5665 38.9187 40.5812 39.4475 40.8287 39.4953C40.9713 39.5227 41.2109 39.4338 41.3613 39.2977C41.6273 39.057 41.6348 38.7129 41.6348 26.8667C41.6348 14.683 41.6348 14.683 41.3191 14.462C40.8915 14.1624 38.8217 14.1465 38.7084 14.442ZM14.799 16.7916C14.512 17.0786 14.5093 17.1918 14.5093 29.2158C14.5093 41.3504 14.5093 41.3504 14.825 41.5714C15.095 41.7606 15.8114 41.7925 19.7871 41.7925C22.3429 41.7925 24.4631 41.7447 24.4989 41.686C24.5345 41.6274 24.4578 41.3558 24.3284 41.0825C24.0931 40.5854 24.0931 40.5854 19.9757 40.5144L15.8585 40.4434V29.1529V17.8624L16.6396 17.7914C17.4207 17.7204 17.4207 17.7204 17.4207 17.1523C17.4207 16.5842 17.4207 16.5842 16.2547 16.543C15.238 16.5073 15.0515 16.5391 14.799 16.7916ZM23.2208 18.4381C23.1734 18.5616 23.1951 18.723 23.2691 18.797C23.3498 18.8777 25.3008 18.9165 28.1521 18.894C32.7934 18.8574 32.9007 18.8501 32.9007 18.5725C32.9007 18.2948 32.7936 18.2876 28.1039 18.2511C23.8402 18.2179 23.2974 18.2386 23.2208 18.4381ZM20.9681 20.9208C20.9173 21.003 20.9534 21.1639 21.0484 21.2784C21.1966 21.457 22.2111 21.4813 28.197 21.4497C35.066 21.4134 35.173 21.4085 35.173 21.1288C35.173 20.8491 35.066 20.8442 28.1168 20.808C23.2904 20.7827 21.0313 20.8184 20.9681 20.9208ZM20.9483 23.2673C20.9011 23.3905 20.9225 23.5514 20.9963 23.6251C21.0773 23.7062 23.8936 23.7444 28.1516 23.7221C35.066 23.6857 35.173 23.6809 35.173 23.4011C35.173 23.1214 35.066 23.1165 28.1036 23.0803C21.7764 23.0474 21.0252 23.067 20.9483 23.2673ZM20.9643 25.6135C20.9113 25.6991 20.927 25.8281 20.9991 25.9002C21.0765 25.9776 23.9997 26.0161 28.1516 25.9944C34.2818 25.9622 35.173 25.9305 35.173 25.7444C35.173 25.5584 34.278 25.5267 28.1168 25.4946C23.1155 25.4685 21.0325 25.5031 20.9643 25.6135ZM20.9673 27.7389C20.9169 27.8205 20.9529 27.9802 21.0472 28.094C21.1891 28.2648 21.8147 28.2999 24.6454 28.2962C28.1043 28.2917 28.5691 28.2274 28.5691 27.7526C28.5691 27.5349 21.1016 27.5215 20.9673 27.7389ZM30.8874 28.0708C30.0453 28.3459 29.4035 28.7734 28.7215 29.5132C27.8085 30.5038 27.5278 31.2621 27.5149 32.7744C27.5052 33.8974 27.5518 34.1501 27.8989 34.8569C28.4051 35.8876 29.2845 36.7681 30.2733 37.2346C30.9447 37.5512 31.2442 37.6027 32.4036 37.6009C33.6065 37.599 33.8374 37.555 34.5339 37.1947C34.9635 36.9724 35.6155 36.4741 35.9826 36.0874C38.1909 33.7617 37.4721 29.8021 34.5829 28.3766C33.5934 27.8885 31.8798 27.7468 30.8874 28.0708ZM34.3031 29.2698C35.1582 29.7494 35.9997 30.7864 36.2451 31.6631C36.748 33.4592 35.8444 35.5162 34.1993 36.3211C32.6378 37.0851 31.027 36.8992 29.7926 35.8126C28.413 34.598 27.9925 32.803 28.7057 31.1725C29.1125 30.2426 30.1993 29.2318 31.1056 28.9406C32.0845 28.626 33.3962 28.7611 34.3031 29.2698ZM20.9478 30.0855C20.9008 30.2079 20.9234 30.3691 20.998 30.4437C21.0776 30.5234 22.2736 30.5634 23.8927 30.5407C26.6325 30.5023 26.6521 30.4998 26.6973 30.1825C26.7426 29.863 26.7426 29.863 23.8879 29.863C21.427 29.863 21.0214 29.8937 20.9478 30.0855ZM31.1422 30.3677C30.9151 30.5587 30.6633 30.7151 30.5826 30.7151C30.3418 30.7151 29.8473 31.4387 29.8473 31.791C29.8473 31.9711 29.7834 32.158 29.7053 32.2063C29.6271 32.2546 29.5632 32.5102 29.5632 32.7744C29.5632 33.0385 29.6271 33.2942 29.7053 33.3424C29.7834 33.3907 29.8473 33.5776 29.8473 33.7577C29.8473 34.11 30.3418 34.8336 30.5826 34.8336C30.6633 34.8336 30.914 34.9889 31.1395 35.1786C31.498 35.4802 31.6654 35.518 32.4705 35.4785C33.3114 35.4374 33.4523 35.3825 34.0885 34.8498C34.8202 34.2372 34.9886 33.8489 34.9886 32.7744C34.9886 31.6973 34.8206 31.3119 34.0817 30.6932C33.4381 30.1544 33.2999 30.1003 32.4664 30.0621C31.6725 30.0257 31.5018 30.0652 31.1422 30.3677ZM21.0421 32.4193C21.0421 32.7026 21.1052 32.7089 23.563 32.6711C25.6918 32.6383 26.0838 32.5993 26.0838 32.4193C26.0838 32.2394 25.6918 32.2003 23.563 32.1675C21.1052 32.1297 21.0421 32.136 21.0421 32.4193ZM20.9673 34.5558C20.9169 34.6374 20.9541 34.7986 21.0499 34.9142C21.1939 35.0876 21.649 35.1174 23.6541 35.0854C26.0523 35.0472 26.0844 35.0425 26.1292 34.7271C26.1745 34.4076 26.1745 34.4076 23.6168 34.4076C21.9931 34.4076 21.0254 34.4617 20.9673 34.5558ZM26.1791 38.1486C25.425 40.0944 25.3186 40.6155 25.6151 40.912C25.8881 41.185 26.3934 41.1127 27.4477 40.6499C27.9898 40.412 28.5032 40.2606 28.5887 40.3134C28.6743 40.3664 28.957 40.8764 29.217 41.447C29.7294 42.5712 30.0573 42.8618 30.5871 42.6603C30.8437 42.5629 31.0722 42.151 31.589 40.8552C32.2495 39.1991 32.2781 38.8735 31.7533 38.9745C31.5826 39.0074 31.3294 39.4437 30.9834 40.3015C30.6998 41.0045 30.3877 41.5795 30.2898 41.5795C30.1918 41.5795 29.8848 41.0523 29.6073 40.4079C29.3298 39.7634 29.0206 39.2362 28.9202 39.2362C28.8198 39.2362 28.3104 39.4279 27.788 39.6623C26.9244 40.0497 26.2968 40.1995 26.2968 40.018C26.2968 39.9794 26.5915 39.2115 26.9515 38.3117C27.4847 36.9794 27.5737 36.6364 27.4313 36.4647C27.335 36.3487 27.179 36.2538 27.0847 36.2538C26.9904 36.2538 26.5828 37.1065 26.1791 38.1486ZM37.3004 36.5469C37.2345 36.7544 37.3754 37.0956 37.7831 37.7162C38.0998 38.1981 38.3075 38.6439 38.2445 38.7068C38.1816 38.7697 37.564 38.695 36.8718 38.5407C36.1797 38.3865 35.5728 38.2854 35.5232 38.3161C35.4736 38.3468 35.3178 38.9339 35.1772 39.6207C35.0366 40.3075 34.8716 40.9248 34.8107 40.9924C34.7498 41.06 34.4867 40.7883 34.2263 40.3887C33.7349 39.6346 33.3608 39.4978 33.2827 40.0437C33.2215 40.4715 34.2072 41.9185 34.6326 42.0252C35.1744 42.1612 35.489 41.742 35.752 40.5333C35.8818 39.9371 36.0404 39.3923 36.1046 39.3228C36.1721 39.2496 36.7228 39.3017 37.4137 39.4467C38.3477 39.6427 38.6729 39.6613 38.9133 39.5326C39.4362 39.2528 39.3117 38.6105 38.4925 37.3627C37.7462 36.226 37.4636 36.0326 37.3004 36.5469Z' fill='white'/%3E%3C/svg%3E%0A");
}
header .navi .dropdown ul a:nth-child(5) .icon-left {
  background-image: url("data:image/svg+xml,%3Csvg width='56' height='56' viewBox='0 0 56 56' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect width='56' height='56' rx='28' fill='%2361CD81'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M27.5107 10.9028C27.046 11.4692 24.5182 13.4582 22.9607 14.483C20.113 16.3568 17.364 17.6273 14.67 18.3149L13.332 18.6564L13.3613 20.4903C13.4646 26.9489 15.6783 33.0924 19.4858 37.4885C20.488 38.6454 22.5955 40.5355 22.8839 40.5358C23.0019 40.536 23.0697 40.317 23.0697 39.9351C23.0697 39.3709 22.9761 39.2404 21.5459 37.8106C19.1706 35.4363 17.5331 32.9054 16.3305 29.7508C15.2916 27.0256 14.5339 23.0171 14.6262 20.7362L14.67 19.6547L16.5284 19.0301C19.9141 17.8921 23.7998 15.7157 26.547 13.4188C27.1922 12.8795 27.8116 12.4381 27.9234 12.4381C28.0353 12.4381 28.6113 12.8462 29.2034 13.3449C31.9833 15.6863 36.0738 17.9836 39.3487 19.043C40.3299 19.3605 41.1855 19.6658 41.2499 19.7217C41.4234 19.8722 41.0935 23.5398 40.7432 25.3552C39.7507 30.4987 37.3596 35.0028 33.9297 38.1893C32.8037 39.2353 32.7331 39.3373 32.7331 39.9186C32.7331 40.3374 32.7976 40.5361 32.9333 40.5361C33.0435 40.5361 33.63 40.1126 34.2367 39.5951C38.7892 35.7106 41.7178 29.5424 42.401 22.3988C42.491 21.4584 42.5434 20.2308 42.5176 19.6704L42.4708 18.6518L41.1128 18.3006C37.1373 17.2723 32.706 14.7937 28.9965 11.5235C28.4541 11.0454 27.9438 10.6541 27.8626 10.6541C27.7813 10.6541 27.6229 10.766 27.5107 10.9028ZM26.9927 15.4319C24.7611 17.2332 20.3757 19.6811 17.7177 20.6094C16.454 21.0506 16.454 21.0506 16.501 21.9105C16.6146 23.994 17.3535 27.2721 18.1759 29.3424C18.9765 31.3579 20.365 33.8461 20.6893 33.8461C20.7829 33.8461 20.8397 33.1269 20.8397 31.9387C20.8397 29.9732 20.9344 29.4896 22.1135 25.4339C22.4125 24.4052 23.1313 23.6499 24.0436 23.406C24.4074 23.3088 24.7051 23.1842 24.7051 23.1295C24.7051 23.0746 24.6047 22.7896 24.4821 22.496C24.1764 21.7644 24.2032 20.3806 24.5372 19.6452C25.0442 18.5291 26.088 17.7195 27.2809 17.5165C27.9014 17.411 27.9014 17.411 27.9445 16.1882C27.9946 14.7702 27.9027 14.6972 26.9927 15.4319ZM27.1306 18.8459C26.1068 19.1421 25.2993 20.5013 25.5129 21.5689C25.8633 23.3209 27.9774 24.1539 29.3727 23.0896C30.8035 21.9983 30.6158 19.8213 29.0214 19.0166C28.3188 18.662 27.8977 18.624 27.1306 18.8459ZM27.6365 24.2858C27.5981 24.3518 27.5201 25.1451 27.4633 26.0487C27.3699 27.5322 27.3872 27.7255 27.6421 28.0402C27.9244 28.389 27.9244 28.389 28.2398 27.9461C28.5288 27.5403 28.5427 27.4178 28.4072 26.4749C28.3258 25.9092 28.279 25.1788 28.3032 24.8518C28.3413 24.3395 28.3031 24.2507 28.0269 24.2115C27.8507 24.1863 27.675 24.2198 27.6365 24.2858ZM25.2997 24.4359C24.2173 24.6222 23.8059 24.8061 23.6088 25.1918C23.4952 25.4136 23.1326 26.5652 22.8029 27.7508C22.2623 29.6944 22.1963 30.1193 22.1327 32.0713C22.057 34.3907 22.1755 35.0133 22.7505 35.321C23.25 35.5884 23.9159 35.5066 24.3622 35.1229C24.7794 34.7644 24.7794 34.7644 24.8701 32.3354C24.9651 29.7883 25.0565 29.2374 25.3846 29.2374C25.7089 29.2374 25.7942 30.1846 25.6837 32.5555C25.5731 34.9332 25.435 35.4372 24.7763 35.8689C24.4077 36.1103 24.4077 36.1103 24.4077 40.7877C24.4077 45.465 24.4077 45.465 24.8423 45.8996C25.4102 46.4675 26.1916 46.4965 26.7187 45.9692C27.0837 45.6043 27.0837 45.6043 27.0837 41.0119C27.0837 36.7517 27.1033 36.4017 27.3556 36.1735C27.7283 35.8362 28.3743 35.8583 28.5652 36.215C28.6615 36.395 28.7191 38.179 28.7191 40.9838C28.7191 45.465 28.7191 45.465 29.1536 45.8996C29.7215 46.4675 30.5029 46.4965 31.0301 45.9692C31.3951 45.6043 31.3951 45.6043 31.3951 40.8573C31.3951 36.1103 31.3951 36.1103 31.0455 35.8814C30.365 35.4354 30.2316 34.8571 30.1824 32.1364C30.1571 30.7464 30.1895 29.5256 30.2542 29.4233C30.6284 28.8326 30.9439 29.8187 30.9559 31.6161C30.9705 33.806 31.145 34.8911 31.5329 35.2052C32.0679 35.6386 32.8223 35.5638 33.3621 35.024C33.8194 34.5667 33.8194 34.5667 33.7263 32.1622C33.6386 29.898 33.5944 29.6235 32.9689 27.4543C32.5171 25.8881 32.2078 25.0728 32.0024 24.9065C31.6659 24.634 29.902 24.2733 29.7444 24.4449C29.689 24.5051 29.533 25.2157 29.3977 26.0239C29.2117 27.1356 29.0479 27.6445 28.725 28.1138C28.0237 29.1331 27.9097 29.1792 27.4882 28.6129C26.787 27.6711 26.6621 27.3709 26.4795 26.1898C26.3784 25.5356 26.2405 24.85 26.1731 24.6659C26.0503 24.3313 25.9938 24.3164 25.2997 24.4359Z' fill='white'/%3E%3C/svg%3E%0A");
}
header .navi .dropdown ul a:hover {
  background: rgba(97, 205, 129, 0.12);
}
header .navi .dropdown .open {
  opacity: 1;
  pointer-events: all;
}
header .navi .dropdown.open {
  color: #61CD81;
}
header .navi .green-button {
  background: #61CD81;
  border-radius: 60px;
  padding: 12px 32px;
  border: none;
  font-family: "Arimo";
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 32px;
  cursor: pointer;
  -webkit-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;
}
header .navi .green-button:hover {
  -webkit-filter: brightness(0.95);
          filter: brightness(0.95);
}

header.scroll {
  background-color: #fff;
}

.faq-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background: -webkit-gradient(linear, left top, left bottom, from(#FFFFFF), to(rgba(255, 255, 255, 0)));
  background: linear-gradient(180deg, #FFFFFF 0%, rgba(255, 255, 255, 0) 100%);
}
.faq-container .faq {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.faq-container .faq .container {
  width: 100%;
  max-width: 1320px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 50px;
}
.faq-container .faq .container .header {
  font-family: "Arimo";
  font-style: normal;
  font-weight: 600;
  font-size: 40px;
  line-height: 48px;
  color: #091239;
  width: 100%;
  margin-bottom: 32px;
}
.faq-container .faq .container .item {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 80px;
  min-height: 80px;
  overflow: hidden;
  margin-bottom: 24px;
  cursor: pointer;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
  border: 2px solid #61CD81;
  opacity: 0;
}
.faq-container .faq .container .item .top {
  width: 100%;
  background-color: #61CD81;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 24px 32px 24px 24px;
  font-family: "Arimo";
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  color: #FFFFFF;
  gap: 16px;
}
.faq-container .faq .container .item .top .icon {
  width: 24px;
  min-width: 24px;
  height: 24px;
  background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect width='24' height='24' rx='12' fill='white'/%3E%3Cpath d='M12 5V19' stroke='%2361CD81' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M5 12H19' stroke='%2361CD81' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.faq-container .faq .container .item .bottom {
  width: 100%;
  opacity: 0;
  padding: 0px 32px 24px 24px;
  -webkit-transition: opacity 0.25s ease;
  transition: opacity 0.25s ease;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 32px;
}
.faq-container .faq .container .item .bottom p {
  font-family: "Arimo";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  color: #091239;
}
.faq-container .faq .container .item .bottom .list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 16px;
}
.faq-container .faq .container .item .bottom .list .bold {
  font-family: "Arimo";
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 32px;
  color: #091239;
}
.faq-container .faq .container .item .bottom ul,
.faq-container .faq .container .item .bottom ol {
  margin-left: 24px;
  font-family: "Arimo";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  color: #242E4F;
}
.faq-container .faq .container .item .bottom ul li:not(:last-child),
.faq-container .faq .container .item .bottom ol li:not(:last-child) {
  margin-bottom: 16px;
}
.faq-container .faq .container .item .top.active {
  background-color: transparent;
  color: #091239;
}
.faq-container .faq .container .item .top.active .icon {
  background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect width='24' height='24' rx='12' fill='%23091239'/%3E%3Cpath d='M7.05078 7.05023L16.9503 16.9497' stroke='white' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M7.05078 16.9498L16.9503 7.05027' stroke='white' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
}
.faq-container .faq .container .item .bottom.active {
  opacity: 1;
}
.faq-container .faq .container .item.active {
  height: 100%;
  border: 2px solid #091239;
}